.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #0d6efd !important;
    font-weight: bold;
    border-bottom: 2px solid #0d6efd;
    transition: all 0.2s;
}

.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
.transition-all {
    transition: all 0.3s ease;
}

.img-cover {
    object-fit: cover;
    height: 100%;
}

#landingCarousel {
    --carousel-desktop-height: 60vh;
    --carousel-tablet-height: 50vh;
    --carousel-mobile-height: 40vh;
}

.carousel-inner.ratio-16x9 {
    aspect-ratio: 16/9;
}

@media (min-width: 1200px) {
    .carousel-inner.ratio-16x9 {
        height: var(--carousel-desktop-height);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .carousel-inner.ratio-16x9 {
        height: var(--carousel-tablet-height);
    }
}

@media (max-width: 767px) {
    .carousel-inner.ratio-16x9 {
        height: var(--carousel-mobile-height);
    }
}

.ui-selectmenu-menu.ui-multiselect-menu {
    z-index: 1000;
}
.ui-selectmenu-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Style untuk input color */
.form-control-color {
    height: 38px;
    width: 60px;
    padding: 3px;
}
